[Unit]
Description=AndTTT server
After=network.target

[Service]
ExecStart=/usr/local/bin/server -addr-tcp 0.0.0.0:1234 -addr-http 0.0.0.0:80
Restart=always
RestartSec=10
Type=idle

[Install]
WantedBy=multi-user.target