<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dawidd6.andttt">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/theme_light"
        android:icon="@mipmap/ic_launcher_round">
        <activity
            android:name="com.github.dawidd6.andttt.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.github.dawidd6.andttt.SingleActivity"
            android:parentActivityName="com.github.dawidd6.andttt.MenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.github.dawidd6.andttt.LocalActivity"
            android:parentActivityName="com.github.dawidd6.andttt.MenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.github.dawidd6.andttt.SettingsActivity"
            android:parentActivityName="com.github.dawidd6.andttt.MenuActivity">
        </activity>

        <activity
            android:name="com.github.dawidd6.andttt.LicensesActivity"
            android:parentActivityName="com.github.dawidd6.andttt.SettingsActivity">
        </activity>
    </application>

</manifest>