<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dawidd6.andttt">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".ActivityMenu"
            android:theme="@style/theme_light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivitySingle"
            android:label=""
            android:theme="@style/theme_light"
            android:parentActivityName="com.dawidd6.andttt.ActivityMenu">
        </activity>

        <activity
            android:name=".ActivitySettings"
            android:label="@string/settings"
            android:theme="@style/theme_light"
            android:parentActivityName="com.dawidd6.andttt.ActivityMenu">
        </activity>
    </application>

</manifest>